<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flowerparadise"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@id/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowerParadise.NoActionBar">
        <activity android:name=".TeddyCart" />
        <activity android:name=".MugCart" />
        <activity android:name=".CardCart" />
        <activity android:name=".ChocolateCart" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".CakeCart" />
        <activity android:name=".shoppingCart" />
        <activity android:name=".NewCart" />
        <activity android:name=".prepayments" />
        <activity android:name=".Payment" />
        <activity android:name=".detail" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>